<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Local" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Utente\source\repos\ElaboratoBDD\ElaboratoBDD\MODEL_AGENCY.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>